{% extends 'index.html' %}
{% block head %}
    <title>Что можем сделать мы, чтобы бороться с глобальным потеплением</title>
    <link rel="stylesheet" href= "/static/css/about.css">
{% endblock %}

{% block content %}
     <div class = 'text'>
        <img src = "static\images\image1_4.jpg" width="500" height="300" class = 'left'>
        <h1>Действия</h1>
        <p>
          Каждый может помочь ограничить последствия изменения климата. Мы можем добиться перемен к лучшему в самых разных областях: 
          от того, на чем мы ездим, до электричества, которое мы потребляем, и продуктов, которые мы едим. 
          Чтобы помочь урегулировать климатический кризис, начните с этих десяти действий.
        </p>
      </div>
      <div class = 'text'>
        <img src = "static\images\image2_4.jpg" width="450" height="300" class = 'right'>
        <h1>Экономьте энергию дома</h1>
        <p>
          Значительная часть электричества и тепла вырабатывается с использованием угля, нефти и газа. 
          Чтобы сократить энергопотребление, уменьшите мощность систем отопления и охлаждения, 
          перейдите на использование светодиодных ламп и энергоэффективных электроприборов, 
          стирайте белье в холодной воде или сушите постиранные вещи на веревках, а не в сушильной машине.
        </p>
      </div>
      <div class = 'text'>
        <img src = "static\images\image3_4.jpg" width="450" height="300" class = 'left'>
        <h1>Ходите пешком, ездите на велосипеде или пользуйтесь общественным транспортом</h1>
        <p>
          Дороги мира заполонили автомобили, большинство из которых работают на дизельном топливе или бензине. 
          Ходьба или езда на велосипеде вместо вождения автомобиля позволят сократить выбросы парниковых газов 
          и помогут вам улучшить свое здоровье и быть в хорошей физической форме. Для поездок на большие расстояния воспользуйтесь поездом или автобусом, 
          а если пользуетесь автомобилем, подвозите, по возможности, по очереди друг друга.
        </p>
      </div>
      <div class = 'text'>
        <img src = "static\images\image4_4.jpg" width="450" height="300" class = 'right'>
        <h1>Употребляйте больше овощей</h1>
        <p>
          Употребляя больше овощей, фруктов, цельнозерновых продуктов, бобовых, орехов и семян, и меньше мяса и молочных продуктов, 
          можно значительно снизить свое воздействие на окружающую среду. При производстве продуктов питания растительного происхождения 
          обычно образуется меньше выбросов парниковых газов и требуется меньше энергетических, земельных и водных ресурсов.
        </p>
      </div>
      <div class = 'text'>
        <img src = "static\images\image5_4.jpg" width="500" height="300" class = 'left'>
        <h1>Продумывайте свои поездки</h1>
        <p>
          Самолеты сжигают большое количество ископаемого топлива, в результате чего образуются значительные выбросы парниковых газов. 
          Поэтому сокращение количества полетов является одним из самых быстрых способов уменьшить свое воздействие на окружающую среду. 
          Если есть возможность, проводите виртуальные встречи, ездите на поезде или вообще отмените дальнюю поездку.
        </p>
      </div>
      <div class = 'text'>
        <img src = "static\images\image6_4.jpg" width="450" height="300" class = 'right'>
        <h1>Выбрасывайте меньше продуктов питания</h1>
        <p>
          Выбрасывая продукты питания, вы также тратите впустую ресурсы и энергию, которые были использованы для выращивания продовольственных культур, 
          их производства, упаковки и транспортировки. А при гниении пищи на свалке происходит выделение метана — мощного парникового газа. 
          Поэтому употребляйте то, что вы покупаете, а остатки используйте как удобрение.
        </p>
      </div>
      <div class = 'text'>
        <img src = "static\images\image7_4.jpg" width="500" height="300" class = 'left'>
        <h1>Сокращайте потребление, используйте вещи повторно, ремонтируйте их и отправляйте на вторичную переработку</h1>
        <p>
          Выбросы углерода образуются на каждом этапе производства электронной аппаратуры, одежды и других вещей, 
          которые мы покупаем, — от добычи сырья и до изготовления и транспортировки товаров на рынок. 
          Чтобы защитить наш климат, покупайте меньше вещей, приобретайте подержанные вещи, 
          по возможности ремонтируйте их и отправляйте на вторичную переработку.
        </p>
      </div>
      <div class = 'text'>
        <img src = "static\images\image8_4.jpg" width="500" height="300" class = 'right'>
        <h1>Поменяйте источник домашнего энергоснабжения</h1>
        <p>
          Обратитесь в свою компанию по коммунальному обслуживанию, чтобы узнать, расходуется ли нефть, уголь или газ для производства энергии, 
          поставляемой в ваш дом. Подумайте над тем, можете ли вы перейти на использование возобновляемых источников энергии, таких как ветер или солнце. 
          Или установите на крыше своего дома солнечные панели, чтобы вырабатывать энергию для собственных нужд.
        </p>
      </div>
      <div class = 'text'>
        <img src = "static\images\image9_4.jpg" width="500" height="300" class = 'left'>
        <h1>Пересаживайтесь на электромобили</h1>
        <p>
          Если вы планируете приобрести автомобиль, подумайте о покупке электромобиля, поскольку на рынке появляется все больше относительно дешевых моделей. 
          Даже с учетом того, что электромобили работают на электричестве, произведенном из ископаемых видов топлива, 
          они помогают снизить уровень загрязнения воздуха и приводят к образованию значительно меньшего объема выбросов парниковых газов, чем автомобили, 
          работающие на бензине или дизельном топливе.
        </p>
      </div>
{% endblock %}
