{% extends 'index.html' %}
{% block head %}
    <title>Что можем сделать мы, чтобы бороться с глобальным потеплением</title>
    <link rel="stylesheet" href= "/static/css/about.css">
{% endblock %}

{% block content %}
     <div class = 'text'>
         <img src = "static\images\image1_3.jpg" width="500" height="300" class = 'left'>
         <h1>Борьба с глобальным потеплением</h1>
         <h2>Что делают в мире</h2>
         <p>
            О глобальном потеплении достаточно активно говорят с 1975 года, когда экологи начали отмечать изменения средней температуры. 
            Первый документ, регулирующий работу стран по климату, был принят в 1992 году - это Рамочная конвенция ООН об изменении климата, 
            в 1997 году в дополнение был принят Киотский протокол, призывающий сократить или стабилизировать парниковые выбросы. 
            В 2015 году около 200 стран подписали Парижское соглашение по климату.
         </p>
         <h2>Главные цели документа</h2>
         <p>
            не допустить увеличения средней температуры на планете более, чем на 2°С от доиндустриального уровня к 2100 году;
            сделать все возможное для удержания глобального потепления в пределах 1,5°С.
         </p>
      </div>
      <div class = 'text'>
        <img src = "static\images\image2_3.jpg" width="500" height="300" class = 'right'>
        <h1>План по достижению нулевых выбросов углекислого газа в энергетике к 2050 году</h1>
        <p> 
            С 2021 года:
             Прекратить развитие новых источников добычи угля, газа, нефти;
             Увеличить ежегодный ввод новых возобновляемых источников энергии.
            С 2030 года:
             Строить новые здания и сооружения без углеродного выхлопа;
             Увеличить доступность электроэнергии и сократить использование угольных станций;
             Продавать до 60% электромобилей.
            С 2035 года:
             Довести долю продаваемых электрических грузовиков до 50%;
             Обеспечить максимальный класс энергоэффективности всех промышленных электрических двигателей и систем охлаждения.
            C 2040 года:
             Достичь нулевых выбросов от производства электроэнергии;
             Потреблять только 50% нефти от уровня 2020 года;
             Довести до 50% долю топлива в авиации с низким уровнем выбросов.
            К 2050 году:
             Вырабатывать более 90% мировой электроэнергии на возобновляемых источниках энергии, из них более 70% - на основе ветра и солнца;
             Не выбрасывать парниковых газов вообще должно более 90% тяжелой промышленности;
             Подготовить более 85% зданий и сооружений к углеродной нейтральности;
             Поместить существенную долю CO2 в хранилища или утилизировать.
        </p>
      </div>
      <div class = 'text'>
        <img src = "static\images\image3_3.jpeg" width="500" height="300" class = 'left'>
        <h1>Что делают в России</h1>
        <p> 
            В России для достижения этих показателей были приняты отдельные документы. 
            По указу президента РФ от 2 ноября 2020 г. №666 "О сокращении выбросов парниковых газов" 
            к 2030 году должно быть обеспечено сокращение выбросов парниковых газов до 70% от уровня 1990 года. 
            В 2021 году была принята стратегия социально-экономического развития РФ с низким уровнем выбросов парниковых газов до 2050 года, 
            в которой ставится цель увеличить поглощающую способность управляемых экосистем с 535 млн тонн эквивалента углекислого газа до 1200 млн тонн в лесном хозяйстве.
        </p>
      </div>
      <div class = 'text'>
        <img src = "static\images\image4_3.jpeg" width="350" height="250" class = 'right'>
        <h1>Также в 2021 году был принят закон от 2 июня 2021 года №29б-ФЗ "Об ограничении выбросов парниковых газов", который:</h1>
        <p> 
            ввел обязательную отчетность для крупных компаний (которые выделяют более 150 тыс. тонн эквивалента СО2);
            предусмотрел создание системы реализации добровольных климатических проектов и обращения углеродных единиц;
            ввел в правовое поле принципы зеленого финансирования.
        </p>
        <p>
            В Сахалинской области в 2022 году начался климатический эксперимент, который охватит организации с выбросами более 20 тыс. тонн эквивалента CO2. 
            В регионе для них введут систему квотирования выбросов, также будет организована торговля единицами выполнения квот и будет введена обязательная верификация углеродной отчетности. 
            Эксперимент планируется провести до 2028 года, но углеродной нейтральности регион планирует достичь уже в 2025 году.
            А буквально на днях президент утвердил Климатическую доктрину РФ, главной целью которой является достижение углеродной нейтральности не позднее 2060 года. 
            Также в ее задачи входят разработка и реализация оперативных и долгосрочных мер по адаптации к меняющемуся климату, 
            смягчение антропогенного воздействия на климат, мероприятия по сокращению выбросов парниковых газов, климатические проекты в области лесного хозяйства и пр.
        </p>
      </div>
{% endblock %}
