<!DOCTYPE html> 
<html> 
  <head> 
    <meta charset="UTF-8"> 
    <link rel="stylesheet" href= "/static/css/style.css">
    {% block head %}
        <title>Что такое глобальное потепление</title>
    {% endblock %}
  </head> 
  <body> 
    <header>
        <ul>
          <li><a href="/">Что такое глобальное потепление</a></li>
          <li><a href="/products">Из-за чего возникает глобальное потепление</a></li>
          <li><a href="/contacts">Как бороться с глобальным потеплением</a></li>
          <li><a href="/about">Что можем сделать мы, чтобы бороться с глобальным потеплением</a></li>
        </ul>
    </header>
    {% block content %}
    <div class = 'text'>
      <img src = "static\images\image1_1.jpg" width="450" height="300" class = 'left'>
      <h1>Глобальное потепление</h1>
      <p> 
        Глобальное потепление — долгосрочное повышение средней температуры климатической системы Земли, 
        происходящее уже более века, основной причиной чего, по мнению подавляющего большинства учёных, 
        является человеческая деятельность (антропогенный фактор). Повышение температуры поверхности Земли с конца XIX века. 
        Начиная с 1850 года, в десятилетнем масштабе температура воздуха в каждое десятилетие была выше, 
        чем в любое предшествующее десятилетие. С 1750—1800 годов человек ответственен за повышение средней глобальной температуры на 0,8—1,2 °C. 
        Вероятная величина дальнейшего роста температуры на протяжении XXI века на основе климатических моделей составляет 0,3—1,7 °C
        для минимального сценария эмиссии парниковых газов, 2,6—4,8 °C — для сценария максимальной эмиссии.
      </p>
   </div>
   <div class = 'text'>
     <img src = "static\images\image2_1.jpg" width="400" height="300" class = 'right'>
     <h1>Последствия</h1>
     <p> 
      Последствия глобального потепления включают повышение уровня моря, региональные изменения осадков, 
      более частые экстремальные погодные явления, такие как жара и расширение пустынь. Как указывается на сайте ООН, 
      существуют тревожные свидетельства того, что превышение пороговых показателей, 
      ведущее к необратимым изменениям в экосистемах и климатической системе нашей планеты, уже произошло.
     </p>
   </div>
    {% endblock %}
  </body> 
</html> 